@*
    //V#142 Insertando la Transacción (Creando un index temporal min 05.35)
*@

@model TransaccionCreacionViewModel

@{
    ViewData["Title"] = "Transacciones"; 
}


<h1>Indice de transacciones</h1>