@*
    //V#117 Actualizando Tipos Cuentas (Agregando el action Error No encontrado vista)
*@
@{
    ViewData["Title"] = "No encontrado";
}

<h1 class="text-danger"><strong>El recurso solicitado no ha sido encontrado.</strong></h1>

<a asp-action="Index">Click aquí para regresar al Inicio</a>