@*
    //V# 100 FORMULARIO TIPOS CUENTAS
*@

@model TipoCuentaViewModel

@{
    ViewData["Title"] = "Crear Tipo de Cuenta";
}

<h1 class="text-uppercase">Crear tipo de cuenta</h1>
<div class="gy-4">
    <h5>El tipo de cuenta se refiere a como podemos agrupar cuentas. </h5>
    <h5> <strong>Ejemplos:</strong> Préstamos, tarjetas de crédito, etc.</h5>
</div>

@* //V#102 Visualizando los Errores de validación *@
@* Este Taghelper nos ayuda a mostrar los errores de validación de todos los campos en texto rojo *@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@* No es necesario utilizar el taghelper asp-controller ya que directamente se esta dirigiendo al contrlador *@
<form asp-controller="TiposCuentas" asp-action="Crear" method="post">
    <div class="mb-3">
        @*V#103 Tag Helpers para los Campos*@        
        @*Para evitar que se eliminen los campos al lanzar una validación*@

        @*Se cambia esto *@
        @* <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" id="Nombre" name="Nombre" class="form-control"/> *@

        @*Por esto*@
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" asp-for="Nombre" class="form-control"/>

        @*V#106 Validación en el Front-End (Lado del cliente)*@
        @* Este script contiene una validación para el campo nombre y muestra un texto en rojo al tener un error. *@
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    @* <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Edad" class="form-label"></label>
        <input asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="URL" class="form-label"></label>
        <input asp-for="URL" class="form-control" />
        <span asp-validation-for="URL" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TarjetaDeCredito" class="form-label"></label>
        <input asp-for="TarjetaDeCredito" class="form-control" />
        <span asp-validation-for="TarjetaDeCredito" class="text-danger"></span>
    </div>
 *@
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@*V#106 Validación en el Front-End (Lado del cliente)*@
@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
}