@*
    //V# 115 Listado Tipos Cuentas (Creando la vista Index)
*@

@model IEnumerable<TipoCuentaViewModel>

@{
    ViewData["Title"] = "Listado Tipos de Cuentas";
}

@* Textos de encabezado *@
<h1 class="text-uppercase">Tipos de cuentas</h1>
<h5>El tipo de cuenta se refiere a como podemos agrupar cuentas.</h5>
<h6><strong>Ejemplo: </strong>Préstamos, tarjetas de crédito, etc.</h6>

@* Enlace o link para ir a la vista Crear *@
<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>

@* Tabla para mostrar los datos  *@
<table class="table">
    @* Encabezado de la tabla *@
    <thead>
        @* Fila *@
        <tr>
            @* Columnas *@
            <th>Acciones</th>
            <th>Nombre</th>
        </tr>
    </thead>
    @* Cuerpo *@
    @* //V#119 Arrastrando filas de una tabla (creando un id para el cuerpo de la tabla) 
        Solo aquí podra arrastrar o ordenar los registros el usuario*@    
    <tbody id="reordenable">
        @foreach (var tipoCuenta in Model)
        {
            @* Filas *@
            <tr>
                @* Celdas *@
                <td>
                    @* //V#117 Actualizando Tipos Cuentas (Redirigiendo a la vista editar) *@
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@tipoCuenta.Id">Editar</a>
                    @* //V#118 Borrando tipos de cuentas (Redirigiendo a la vista borrar)*@
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@tipoCuenta.Id">Eliminar</a>
                </td>
                <td>
                    @tipoCuenta.Nombre
                </td>
            </tr>
        }
    </tbody>
</table>

@* //V#119 Arrastrando filas de una tabla (Creando la sección scripts) 
Usando Jquery para la función de ordenamiento con Jquery UI *@
@section Scripts{
    <script>
        //Espera a que se carge todo el doc para finalmente ejecutar el script JS
        //Esto es JQuery
        $(function(){
            $("#reordenable").sortable();
        })
    </script>
}